# development | production
NODE_ENV=development

# URL to reach the frontend and backend (without trailing slash)
VITE_FRONTEND_URL=http://localhost:5000
VITE_BACKEND_URL=http://localhost:8000

# Cookie Secret (use something like: 'openssl rand -base64 30')
COOKIE_SECRET=secret

# Magic Login (use something like: 'openssl rand -base64 60')
MAGIC_LOGIN_SECRET=secret

# URL of the data base
MONGO_URL=mongodb://db:27017/abrechnung

# URL of redis
REDIS_URL=redis://redis:6379


##### OPTIONAL SETTINGS #####

# Ports
# FRONTEND_PORT=5000
# BACKEND_PORT=8000
# BACKEND_DEBUG_PORT=9229
# INBUCKET_UI_PORT=9000
# MONGO_EXPRESS_PORT=8081

# COOKIE_MAX_AGE_DAYS=30

# Maximal size allowed of files being uploaded
# VITE_MAX_FILE_SIZE=16000000
# Maximum allowed length of the longest image side in pixels before client side compression is applied
# VITE_IMAGE_COMPRESSION_THRESHOLD_PX=1400

# VAPID keys for WebPush Notifications (generate with: 'docker compose exec backend npx web-push generate-vapid-keys')
# VITE_PUBLIC_VAPID_KEY=
# PRIVATE_VAPID_KEY=

# Backend Log Level ('ERROR' | 'WARN' | 'INFO' | 'DEBUG')
# LOG_LEVEL=INFO

# Timezone - find yours here: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
# TZ=Etc/UTC

# true | number | string (https://expressjs.com/en/guide/behind-proxies.html) use BACKEND_URL/ip to validate
# TRUST_PROXY=

# Rate limiting POST requests (https://github.com/express-rate-limit/express-rate-limit)
# How long to remember requests for, in milliseconds
# RATE_LIMIT_WINDOW_MS=
# How many requests to allow
# RATE_LIMIT=

# Memory limit for user webhook scripts in MB
# WEBHOOK_SCRIPT_MEMORY_LIMIT_MB=16
# Timeout for compiling user webhook scripts in milliseconds
# WEBHOOK_SCRIPT_COMPILE_TIMEOUT_MS=50
# Timeout for running user webhook scripts in milliseconds
# WEBHOOK_SCRIPT_RUN_TIMEOUT_MS=100
# Timeout webhook HTTP requests in milliseconds
# WEBHOOK_REQUEST_TIMEOUT_MS=5000

# REDIS_PREFIX=abrechnung

# PROD_INIT_CONNECTION_SETTINGS=
# PROD_INIT_ADMIN_USER=

# USAGE_API_TOKEN=

# ⚠️Deprecated⚠️ Use send via mail under connection settings
# If set to 'true', all reports will be saved to `/reports` in the worker container.
# BACKEND_SAVE_REPORTS_ON_DISK=false
