name: Build & Test

on:
  workflow_call:

jobs:
  build:
    uses: ./.github/workflows/production-build.yml

  tests:
    name: Tests
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: copy .env file
        uses: canastro/copy-file-action@ae66602ce7d214dbd2e298c1db67a81388755a0a # master
        with:
          source: ".env.example"
          target: ".env"
      - name: Start dev Environment
        run: docker compose up -d common db redis ldap inbucket
      - name: Run common tests
        run: docker compose run common npm run test
        # ensures setup runs without error, prevents migration test from failing in next release
      - name: Run backend setup
        run: docker compose run backend npm run setup
      - name: Run backend tests
        run: docker compose run backend npm run test
