name: Build & Test

on:
  workflow_call:

jobs:
  build:
    uses: ./.github/workflows/production-build.yml

  tests:
    name: Tests
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: copy .env file
        uses: canastro/copy-file-action@ae66602ce7d214dbd2e298c1db67a81388755a0a # master
        with:
          source: ".env.example"
          target: ".env"
      - name: Start dev Environment
        run: docker compose up -d common db redis ldap inbucket
      - name: Run common tests
        run: docker compose run common npm run test
      - name: Run backend tests
        run: docker compose run backend npm run test
