name: Backend Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the stack
      run: docker-compose up -d --build
    - name: Run Tests
      run: docker-compose exec backend npm test
