name: Production Build

on:
  workflow_call:

jobs:
  code-quality:
    name: Code quality
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Setup Biome
        uses: biomejs/setup-biome@29711cbb52afee00eb13aeb30636592f9edc0088 # v2.7.0
        with:
          working-dir: backend
      - name: Run Biome
        run: biome ci --changed --error-on-warnings --no-errors-on-unmatched .

  production-build:
    name: Production Build
    needs: [code-quality]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/setup-production-env
      - name: Build common
        run: docker compose build common
      - name: Build backend
        run: docker compose build backend
      - name: Build frontend
        run: docker compose build frontend && docker run abrechnung-frontend "npm run build"
