name: Production Build

on:
  workflow_call:

jobs:
  code-quality:
    name: Code quality
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      - name: Setup Biome
        uses: biomejs/setup-biome@454fa0d884737805f48d7dc236c1761a0ac3cc13 # v2.6.0
        with:
          working-dir: backend
      - name: Run Biome
        run: biome ci --changed --error-on-warnings --no-errors-on-unmatched .

  production-build:
    name: Production Build
    needs: [code-quality]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: ./.github/actions/setup-production-env
      - name: Build common
        run: docker compose build common
      - name: Build backend
        run: docker compose build backend
      - name: Build frontend
        run: docker compose build frontend && docker run abrechnung-frontend "npm run build"
