name: Production Build

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  production-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: copy .env file
        uses: canastro/copy-file-action@master
        with:
          source: '.env.example'
          target: '.env'
      - name: Set production mode in .env
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          find: 'NODE_ENV=development'
          replace: 'NODE_ENV=production'
          include: '.env'
      - name: Build Backend
        run: docker compose build
      - name: Build Frontend
        run: docker run abrechnung-frontend "npm run build"
