name: Publish Docs

on:
  push:
    branches: ['main']

jobs:
  build-and-test:
    uses: ./.github/workflows/build-and-test.yml

  publish-docs:
    name: Publish Docs to Github Pages
    needs: [build-and-test]
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/setup-production-env
      - name: Build
        run: docker compose up -d --build backend
      - name: Copy open api spec
        run: docker compose cp backend:/build/dist/swagger.json swagger.json
      - name: Generate Swagger UI
        uses: Legion2/swagger-ui-action@eff65dc3f193f0a749872be82f74baa35be0797d # v1.3.0
        with:
          output: swagger-ui
          spec-file: swagger.json
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: swagger-ui
